html, body, body > .ember-view {
  height: 100%;
  padding: 0;
  margin: 0
}
body > .ember-view {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: lightgrey;
}
.card {
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px 0 grey;
  width: 50%;
}
.card h1 {
  font-weight: 100;
}
