{{page-title 'Ember Click Outside Sample'}}
<div class='wrapper'>
  <div {{on-click-outside this.alert}} class='card'>
    <h1>Demo click outside element</h1>
    <p>
      Action will only fire when clicking outside it. See the readme for details
      on how to achieve this &amp; other configuration options.
    </p>
  </div>
  {{outlet}}
</div>