{{page-title "Ember Click Outside Sample"}}
<div class="wrapper">
  <ClickOutside @onClickOutside={{fn this.alert}} class="card">
    <h1>Demo click outside component</h1>
    <p>
      Action will only fire when clicking outside it. See the readme for details
      on how to achieve this with a mixin and other configuration options.
    </p>
  </ClickOutside>
  {{outlet}}
</div>
